* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #434343;
    background: #FFF;
}

.container {
    margin: 0 auto;
}

header {
    margin: 25px 0;
}

header img {
    width: 100%;
}

aside {
    float: right;
    margin: 0 0 25px;
}

aside nav ul {
    list-style: none;
}

aside nav ul li {
    margin-bottom: 1px;
}

aside nav ul li a {
    display: block;
    text-decoration: none;
    color: #000;
    background: #89c9e2;
    padding: 8px 20px;
}

aside nav ul li a:hover {
    background: #212121;
    color: #FFF;
}

#main {
    float: left;
    margin: 0 0 25px;
}

footer {
    clear: both;
    color: #FFF;
    background: #121212;
    padding: 15px 0 15px 30px;
    margin: 0 0 25px;
}


@media (min-width: 1333px) {
    .container {
        width: 1050px;
    }

    aside {
        width: 30%;
    }

    #main {
        width: 65%;
    }

    textarea {
        width: 100%;
    }
}

@media (max-width: 1333px) and (min-width: 1073px) {
    .container {
        width: 950px;
    }

    aside {
        width: 30%;
    }

    #main {
        width: 65%;
    }

    textarea {
        width: 100%;
    }
}

@media (max-width: 1073px) and (min-width: 973px) {
    .container {
        width: 750px;
    }

    aside {
        width: 30%;
    }

    #main {
        width: 65%;
    }

    textarea {
        width: 100%;
    }
}

@media (max-width: 973px) and (min-width: 773px) {
    .container {
        width: 450px;
    }

    aside,
    #main {
        width: 100%;
        float: none;
    }

    textarea {
        width: 100%;
    }
}

@media (max-width: 773px) and (min-width: 473px) {
    .container {
        width: 380px;
    }

    aside,
    #main {
        width: 100%;
    }

    textarea {
        width: 100%;
    }
}

@media (max-width: 473px) {
    .container {
        width: 90%;
    }

    aside,
    #main {
        width: 100%;
    }

    textarea {
        width: 100%;
    }
}